$--color-blue: #0074ff; // theme blue
$--color-green: #4ace92;
$--color-red: #ff9494;
$--color-orange: #e4af24;
$--color-gray: #f4f4f4; // split
$--color-gray-100: #f7f7f7; // border
$--color-gray-100: #c8c8c8; // arrow | placeholder | bullte
$--color-dark: #333;
$--color-dark-100: #666;
$--color-dark-200: #999;

$--font-size: 16;
$--font-pingfang-sc: "PingFang SC";
$--font-pingfang-medium: "PingFang-Medium";
$--font-pingfang-bold: "PingFang-Bold";
$--font-family: $--font-pingfang-sc, Microsoft YaHei, Helvetica Neue, Helvetica,
  Arial, sans-serif;

$--header-height: 45;
$--footer-height: 50;
$--border-radius: 8;
$--input-height: 50;
